.advantages-item--first {
    display: none;
}

.advantages__container {
    width: 940px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.advantages-item {
    // background-image: url(/img/iphone-first.png);
    margin: 0;
    text-align: center;
    width: 292px;
    // padding-top: 362px;
    background-repeat: no-repeat;
    background-position: -20px 45px;
    margin-top: 40px;
}

.advantages-item__name {
    margin: 0 auto;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 27px;
    margin-top: 35px;
    color: #000;
    font-weight: 700;

}

.advantages-item__info {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400px;
    margin: 0 auto;
    width: 244px;
}

.img-iphone {
    
    height: 302px;
}

.advantages__field {
    background-color: #f2f2f2;
}

@media (max-width: $desktop-width) {
    .advantages-item {
        display: none;
    }

    .advantages-item-tablet {
        list-style: none;
        height: 106px;
        width: 310px;
        margin-bottom: 30px;
        text-align: left;
        line-height: 24px;

       
    }

    .advantages-list {
        height: 481px;
        box-sizing: border-box;
        padding-top: 73px;
    }

    .advantages__field {
        height: 481px;
    }

    .advantages-item__info {
        font-size: 14px;
        margin: 0;
        width: 320px;
        line-height: 24px;
    }

    .advantages-item__name {
        padding: 0;
        margin: 0;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .advantages__container {
        width: 620px;
        height: 481px;
    }

    .img-iphone {
        height: auto;
    }

    .advantages-item--first {
        display: flex;
        width: 620px;
        margin: 0 auto;
        justify-content: space-between;
        height: 481px;
    }

    
}

@media (max-width: $tablet-width) {
    .advantages__container {
        width: 320px;
        display: block;
        height: auto;
    }

    .advantages-item--first {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        
    }

    .img-iphone {
        width: 159px;
        height: 277px;
    }

    .img-tablet {
        height: 277px;
        order: 2;
    }

    .advantages__field {
        height: auto;
    }

    .advantages-list {
        order: 1;
    
    }

    .advantages-item-tablet {
        text-align: center;
        width: 280px;
        margin: 0 auto;
        margin-bottom: 28px;
    }

    .advantages-item__info {
        width: 280px;
    }

}