

.modal {
    width: 780px;
    background-color: #fff;
    text-align: center;
    padding-top: 40px;
    height: 312px;
    box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.modal-error {
    margin: -390px;
    bottom: 500px;
    position: absolute;
    left: 50%;
    display: none;
}

.modal-sent {
    margin: -390px;
    bottom: 500px;
    position: absolute;
    left: 50%;
    display: none;
}

.page-form {
    position: relative;
}

.modal__header {
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 30px;
    color: #283645;
    line-height: 40px;
    width: 400px;
}


.modal__info {
    color: #283645;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
    width: 500px;
}

.modal-error__close {
    background-color: #e5e5e5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.modal-sent__close {
    background-color: #e5e5e5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form__button--close {
    margin: 0 auto;
}

.show {
    display: block;
}

.hide {
    display: none;
}

@media (max-width: $desktop-width) {
    .modal {
        width: 460px;
        margin: -230px;
        bottom: 350px;
    }

    .modal__header {
        width: 230px;
        margin-bottom: 20px;
    }

    .modal__info {
        width: 310px;
        margin-bottom: 20px;
    }

}

@media (max-width: $tablet-width) {
    .modal {
        width: 280px;
        margin: -138px;
        bottom: 230px;
    }

    .modal__header {
        width: 280px;
        font-size: 18px;
    }

    .modal__info {
        width: 240px;
        margin-bottom: 20px;
    }
}