$pink:#d32958;
$grey: #83888c;
$text-grey: #8f98a1;
$pink-active: #efced5;
$bgGrey: #283645;

.visually-hidden {
    display: none;
}

li {
    list-style: none;
}

.mobile-only {
    display: none;
}

span {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
}

$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;
$tablet-width-only: 1199px;